# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build
Build/
Build/*
build/
build/*
Install/
Install/*
install/
install/*

# Eclipse
.project
.cproject

# GEdit
*~
