# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Mac
.DS_Store

# Build
Build/
Build/*
build*/
build/*
cbuild*/
Install/
Install/*
install/
install/*
Documentation/index.rst
Documentation/user_doxygen_out/*
Documentation/API_Ref

# Eclipse
.project
.cproject

# GEdit
*~
